<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
>
	<testsuites>
		<testsuite name="source">
			<directory prefix="test-src" suffix=".php">./test/</directory>
		</testsuite>
		<testsuite name="built">
			<directory prefix="test-" suffix=".php">./test/</directory>
		</testsuite>
	</testsuites>
</phpunit>
